@import '/assets/styles/reset.css';
@import '/assets/styles/main.css';

:host {
    display: block;
}

/* Base gameboard container styles */

#roulette-board-area {
    position: relative;

    max-inline-size: 900px;
    min-block-size: 300px;

    margin-block: 5rem;
    margin-inline: auto;
}

/* Gameboard component styles */

.gameboard {
    display: grid;
    grid-template-columns: 3fr repeat(13, 2fr);
    grid-template-rows: repeat(5, 1fr);
}

/* Base betting slot styles */

.bet {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 500;

    border: 1px solid black;

    transition: all .1s ease-in-out;
}


/* Placed chips inside betting slots styles */

.chip {
    display: none;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.bet .chip {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: 3rem;
    aspect-ratio: 1 / 1;

    padding: .25rem;

    font-size: 1rem;
    font-weight: 600;
    color: #000;

    opacity: .6;
}

.bet .chip-icon {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    z-index: -1;
}

.bet .chip:only-of-type {
    opacity: 1;
}

/* Continue with betting slot styles... */

.gameboard:not([disabled]) .bet:hover {
    box-shadow: inset 0 0 .5rem rgba(0, 0, 0, .6);
    cursor: pointer;
}

.inside-bet {
    grid-column: span 1;
    grid-row: span 1;

    font-size: 1.5rem;
    color: #fff;
}

.gameboard:not([disabled]) .inside-bet:hover {
    box-shadow: inset 0 0 .5rem rgba(255, 255, 255, .6);
}

.inside-bet.zero {
    grid-column: 1 / span 1;
    grid-row: span 3;

    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;

    font-size: 2rem;
    background-color: green;
}

.gameboard:not([disabled]) .inside-bet.zero:hover {
    box-shadow: inset 0 0 .5rem rgba(0, 0, 0, .6);
}

.inside-bet.red {
    background-color: red;
}

.gameboard:not([disabled]) .inside-bet.red:hover {
    box-shadow: inset 0 0 .6rem rgba(0, 0, 0, .95);
}

.inside-bet.black {
    background-color: black;
}

.outside-bet {
    color: #000;
    background-color: var(--bg-color);
}

.outside-bet.dozen {
    grid-row: span 1;

    font-size: 1.2rem;
}

.outside-bet.dozen:nth-child(41) {
    grid-column: 2 / span 4;
}

.outside-bet.dozen:nth-child(42) {
    grid-column: 6 / span 4;
}

.outside-bet.dozen:nth-child(43) {
    grid-column: 10 / span 4;
}

.outside-bet.column {
    grid-column: -2 / span 1;
    grid-row: span 1;

    font-size: 1.15rem;
}

.outside-bet.range {
    font-size: 1.15rem;
}

.outside-bet.range:nth-child(44) {
    grid-column: 2 / span 2;
}

.outside-bet.outside-bet.range:nth-child(49) {
    grid-column: -4 / span 2;
}

.outside-bet:is(.black, .red, .even, .odd) {
    grid-column: span 2;

    font-size: 1.15rem;
}