@import '/assets/styles/reset.css';
@import '/assets/styles/main.css';

:host {
    --gameboard-inline-size: clamp(730px, 55vw, 1100px);
    --gameboard-block-size: calc(var(--gameboard-inline-size) * 0.3);

    flex-basis: 100%;
    
    display: block;
    cursor: default;
}

/* Base gameboard container styles */

#roulette-board-area {
    position: relative;
    inline-size: var(--gameboard-inline-size);
    block-size: var(--gameboard-block-size);
    margin-inline: auto;
}

/* Gameboard component styles */

.gameboard {
    display: grid;
    grid-template-columns: 3fr repeat(13, 2fr);
    grid-template-rows: repeat(5, 1fr);

    grid-template-areas: 
        'n-0 n-3 n-6 n-9 n-12 n-15 n-18 n-21 n-24 n-27 n-30 n-33 n-36 col-3'
        'n-0 n-2 n-5 n-8 n-11 n-14 n-17 n-20 n-23 n-26 n-29 n-32 n-35 col-2'
        'n-0 n-1 n-4 n-7 n-10 n-13 n-16 n-19 n-22 n-25 n-28 n-31 n-34 col-1'
        '. doz-1 doz-1 doz-1 doz-1 doz-2 doz-2 doz-2 doz-2 doz-3 doz-3 doz-3 doz-3 .'
        '. rn-1 rn-1 even even rd rd blck blck odd odd rn-2 rn-2 .';
}

.inside-bet.n-0 {
    grid-area: n-0;
}

.inside-bet.n-3 {
    grid-area: n-3;
}

.inside-bet.n-6 {
    grid-area: n-6;
}

.inside-bet.n-9 {
    grid-area: n-9;
}

.inside-bet.n-12 {
    grid-area: n-12;
}

.inside-bet.n-15 {
    grid-area: n-15;
}

.inside-bet.n-18 {
    grid-area: n-18;
}

.inside-bet.n-21 {
    grid-area: n-21;
}

.inside-bet.n-24 {
    grid-area: n-24;
}

.inside-bet.n-27 {
    grid-area: n-27;
}

.inside-bet.n-30 {
    grid-area: n-30;
}

.inside-bet.n-33 {
    grid-area: n-33;
}

.inside-bet.n-36 {
    grid-area: n-36;
}

.outside-bet.col-3 {
    grid-area: col-3;
}

.outside-bet.col-2 {
    grid-area: col-2;
}

.outside-bet.col-1 {
    grid-area: col-1;
}

.inside-bet.n-2 {
    grid-area: n-2;
}

.inside-bet.n-5 {
    grid-area: n-5;
}

.inside-bet.n-8 {
    grid-area: n-8;
}

.inside-bet.n-11 {
    grid-area: n-11;
}

.inside-bet.n-14 {
    grid-area: n-14;
}

.inside-bet.n-17 {
    grid-area: n-17;
}

.inside-bet.n-20 {
    grid-area: n-20;
}

.inside-bet.n-23 {
    grid-area: n-23;
}

.inside-bet.n-26 {
    grid-area: n-26;
}

.inside-bet.n-29 {
    grid-area: n-29;
}

.inside-bet.n-32 {
    grid-area: n-32;
}

.inside-bet.n-35 {
    grid-area: n-35;
}

.outside-bet.col-2 {
    grid-area: col-2;
}

.inside-bet.n-1 {
    grid-area: n-1;
}

.inside-bet.n-4 {
    grid-area: n-4;
}

.inside-bet.n-7 {
    grid-area: n-7;
}

.inside-bet.n-10 {
    grid-area: n-10;
}

.inside-bet.n-13 {
    grid-area: n-13;
}

.inside-bet.n-16 {
    grid-area: n-16;
}

.inside-bet.n-19 {
    grid-area: n-19;
}

.inside-bet.n-22 {
    grid-area: n-22;
}

.inside-bet.n-25 {
    grid-area: n-25;
}

.inside-bet.n-28 {
    grid-area: n-28;
}

.inside-bet.n-31 {
    grid-area: n-31;
}

.inside-bet.n-34 {
    grid-area: n-34;
}

.outside-bet.col-1 {
    grid-area: col-1;
}

.outside-bet.dozen-1 {
    grid-area: doz-1;
}

.outside-bet.dozen-2 {
    grid-area: doz-2;
}

.outside-bet.dozen-3 {
    grid-area: doz-3;
}

.outside-bet.range-1 {
    grid-area: rn-1;
}

.outside-bet.even {
    grid-area: even;
}

.outside-bet.red {
    grid-area: rd;
}

.outside-bet.black {
    grid-area: blck;
}

.outside-bet.odd {
    grid-area: odd;
}

.outside-bet.range-2 {
    grid-area: rn-2;
}

/* Hover effects */

/* General hover effects */
.gameboard roulette-slot {
    transition: all 0.2s ease-in-out;
}

.gameboard:not([disabled]) roulette-slot:hover {
    box-shadow: inset 0 0 .5rem rgba(0, 0, 0, .6);
    cursor: pointer;
}

/* Zero slot effect on even numbers hover */
.gameboard:not([disabled]) roulette-slot.inside-bet.even.zero:hover,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.even:hover) roulette-slot.inside-bet.even.zero {
    box-shadow: inset 0 0 4rem rgba(255, 255, 255, .7);
}

/* Black slots effects on direct hover and when even, odd or black slot is hovered */
.gameboard:not([disabled]) roulette-slot.inside-bet.black:hover,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.black:hover) roulette-slot.inside-bet.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.even:hover) roulette-slot.inside-bet.even.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.odd:hover) roulette-slot.inside-bet.odd.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.range-1:hover) roulette-slot.inside-bet.rn-1.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.range-2:hover) roulette-slot.inside-bet.rn-2.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.dozen-1:hover) roulette-slot.inside-bet.doz-1.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.dozen-2:hover) roulette-slot.inside-bet.doz-2.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.dozen-3:hover) roulette-slot.inside-bet.doz-3.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.col-1:hover) roulette-slot.inside-bet.col-1.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.col-2:hover) roulette-slot.inside-bet.col-2.black,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.col-3:hover) roulette-slot.inside-bet.col-3.black {
    box-shadow: inset 0 0 2rem rgba(255, 255, 255, .7);
}

/* Red slots effects on direct hover and when even, odd or red slot is hovered */
.gameboard:not([disabled]) roulette-slot.inside-bet.red:hover,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.red:hover) roulette-slot.inside-bet.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.even:hover) roulette-slot.inside-bet.even.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.odd:hover) roulette-slot.inside-bet.odd.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.range-1:hover) roulette-slot.inside-bet.rn-1.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.range-2:hover) roulette-slot.inside-bet.rn-2.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.dozen-1:hover) roulette-slot.inside-bet.doz-1.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.dozen-2:hover) roulette-slot.inside-bet.doz-2.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.dozen-3:hover) roulette-slot.inside-bet.doz-3.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.col-1:hover) roulette-slot.inside-bet.col-1.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.col-2:hover) roulette-slot.inside-bet.col-2.red,
.gameboard:not([disabled]):has(roulette-slot.outside-bet.col-3:hover) roulette-slot.inside-bet.col-3.red {
    box-shadow: inset 0 0 3rem rgba(255, 255, 255, 1);
}

/* TODO: Add hover effects for the columns */