*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

:host {
    /* Override display value from parent scope */
    --chip-display: inline-block;
    
    --chip-inline-size: clamp(4.5rem, 6vw, 6rem);
    --chip-font-size: clamp(1.35rem, 1.75vw, 2rem);
    --chip-font-weight: 600;
    --chip-text-align: center;
    --chip-text-color: #222;

    -webkit-user-select: none;
    user-select: none;
}

:host([selected]) .chip {
    opacity: 1;
    transform: scale(1.25);
    cursor: grabbing;
}

.chip {
    position: relative;

    inline-size: var(--chip-inline-size);
    aspect-ratio: 1 / 1;

    opacity: .6;
    overflow: hidden;
    cursor: grab;

    transition: all .1s ease-in-out;
}

.chip-txt {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: var(--chip-font-size);
    font-weight: var(--chip-font-weight);
    line-height: var(--chip-inline-size);
    text-align: var(--chip-text-align);
    color: var(--chip-text-color);
}

@supports (not(translate: -50% -50%)) {

    .chip-txt {
        transform: translate(-50%, -50%);
    }

}

@supports (translate: -50% -50%) {

    .chip-txt {
        transform: none;
        translate: -50% -50%;
    }
}

.chip-img {
    inline-size: 100%;
    aspect-ratio: 1 / 1;
}