*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

:host {
    /* Override display value from parent scope */
    --roulette-chip-display: inline-block;
    
    --color: #222;

    -webkit-user-select: none;
    user-select: none;
}

:host([selected]) .chip {
    opacity: 1;
    transform: scale(1.25);
    cursor: grabbing;
}

.chip {
    position: relative;

    inline-size: clamp(4rem, 6vw, 6rem);
    aspect-ratio: 1 / 1;

    opacity: .6;
    overflow: hidden;
    cursor: grab;

    transition: all .1s ease-in-out;
}

.chip-txt {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: clamp(1.35rem, 2vw, 2rem);
    font-weight: 600;
    color: var(--color);
}

@supports (not(translate: -50% -50%)) {

    .chip-txt {
        transform: translate(-50%, -50%);
    }

}

@supports (translate: -50% -50%) {

    .chip-txt {
        transform: none;
        translate: -50% -50%;
    }
}

.chip-img {
    inline-size: 100%;
    aspect-ratio: 1 / 1;

    object-fit: contain;
}