@import '/assets/styles/reset.css';
@import '/assets/styles/main.css';

:host {
    display: block;
    min-block-size: 100vh;

    background-color: var(--bg-color);
    color: var(--txt-color);
}

:host([theme="dark"]) {
    --bg-color: #0e0646;
    --txt-color: #f5f1f0;
}

#roulette-board-app-container {
    padding-block: 2rem;
}

.notification {
    text-align: center;
    margin-block-end: 2rem;
}