@import '/assets/styles/reset.css';
@import '/assets/styles/main.css';

:host {
    display: block;
    min-block-size: 100vh;

    background-color: var(--bg-color, #f5f1f0);
    color: var(--txt-color, #222);
}

:host([theme="dark"]) {
    --bg-color: #0e0646;
    --txt-color: #f5f1f0;
}

#roulette-board-app-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--app-container-col-gap, clamp(1rem, 3vw, 3rem)) var(--app-container-row-gap, clamp(5rem, 15vw, min(30%, 35rem)));
    
    padding-block: 2rem;
}

.notification {
    text-align: center;
    margin-block-end: 2rem;
}