*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

:host {
    --roulette-board-display: none;
    --roulette-board-chips-display: none;
    --user-controls-display: none;
    --roulette-popup-display: none;

    --app-container-row-gap: clamp(5rem, 15vw, min(30%, 35rem));
    --app-container-col-gap: clamp(1rem, 3vw, 3rem);
    
    display: block;
    min-block-size: var(--fullscreen-height);

    background-color: var(--background-color);
    color: var(--color, #222);

    -webkit-user-select: none;
    user-select: none;
}

:host([theme="dark"]) {
    --background-color: #0e0646;
    --color: #f5f1f0;
}

#roulette-board-app-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--app-container-row-gap) var(--app-container-col-gap);
    
    padding-block: 2rem;
}

/*
    Added initial display of none to every direct child component instance to prevent initial content flickering. 
    These styles are overridden in the respective local stylesheet of each component.
 */

roulette-board {
    display: var(--roulette-board-display, none);
}

roulette-chips {
    display: var(--roulette-board-chips-display, none);
}

roulette-user-controls {
    display: var(--user-controls-display, none);
}

roulette-popup {
    display: var(--roulette-popup-display, none);
}