@media screen and (max-width: 600px) {

    :host {
        --host-flex-basis: 100%;
        --host-flex-order: 3;

        --buttons-justify-content: flex-start;
        --buttons-margin-block: 1.5rem 0;
        --buttons-padding-inline: 3rem;
    }

    /* Control popup text animation */

    roulette-action-text {
        --action-text-left-offset: calc(var(--buttons-padding-inline) * 2.75);
    }

}