@media screen and (max-width: 800px) {

    .user-controls {
        position: fixed;
        left: 5rem;
        bottom: 0;
    }

    .chips {
        flex-direction: column;
        
        position: fixed;
        right: 5rem;
        bottom: 20rem;
    }

}

@media screen and (max-width: 980px) {

    .chips {
        margin-inline-end: auto;
    }

}