*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

:host {
    /* Override initial display rule from parent scope */
    --user-controls-display: block;

    --host-flex-basis: calc(50% - var(--app-container-row-gap));
    --host-flex-order: 0;

    --buttons-justify-content: center;
    --buttons-align-items: center;
    --buttons-flex-wrap: wrap;
    --buttons-flex-gap: .75rem;
    --buttons-padding-inline: 0;
    --buttons-margin-block: 0;

    flex-basis: var(--host-flex-basis);
    order: var(--host-flex-order);

    -webkit-user-select: none;
    user-select: none;
}

.user-controls {
    position: relative;
    
    display: flex;
    justify-content: var(--buttons-justify-content);
    align-items: var(--buttons-align-items);
    flex-wrap: var(--buttons-flex-wrap);
    gap: var(--buttons-flex-gap);
}

/* Buttons */

button {
    all: unset;
    display: var(--button-display);
}

.btn {
    inline-size: clamp(2.75rem, 3vw, 3.75rem);
    aspect-ratio: 1 / 1;

    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-icon {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.btn:is(.disabled, :disabled) {
    opacity: .7;
    cursor: default;
}

.btn:not(:is(.disabled, :disabled)):hover {
    transform: scale(1.1);
}

/* Control popup text animation */

roulette-action-text {
    --action-text-top-offset-start: -25%;
    --action-text-top-offset-end: -75%;
    --action-text-font-size: clamp(1rem, 1.5vw, 1.35rem);
    --action-text-animation-duration: .85s;
}