@import '/assets/styles/reset.css';
@import '/assets/styles/main.css';

:host {
    display: block;
}

.user-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;

    max-inline-size: 700px;
    margin-block-start: 1rem 3rem;
    margin-inline: auto;
}

/* Buttons */

.btn {
    min-inline-size: 55px;
    aspect-ratio: 1 / 1;

    cursor: pointer;
    transition: all .4s ease-in-out;
}

.btn-icon {
    max-inline-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
}

.btn:is(.disabled, :disabled) {
    filter: contrast(70%) opacity(70%);
    cursor: default;
}

.btn:not(:is(.disabled, :disabled)):hover {
    transform: scale(1.1);
}

/* Chips */

.chips {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    margin-inline-start: auto;
}