@import '/assets/styles/reset.css';
@import '/assets/styles/main.css';

:host {
    display: block;
}

.user-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .75rem;

    inline-size: 50vw;
    margin-block: 1rem 3rem;
    margin-inline: auto;
}

/* Buttons */

.btn {
    inline-size: clamp(3rem, 5vw, 4rem);
    aspect-ratio: 1 / 1;

    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-icon {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.btn:is(.disabled, :disabled) {
    opacity: .7;
    cursor: default;
}

.btn:not(:is(.disabled, :disabled)):hover {
    transform: scale(1.1);
}

roulette-chip:first-of-type {
    margin-inline-start: auto;
}

roulette-chip:not(:last-of-type) {
    margin-inline-end: 1.25rem;
}