*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

@keyframes show {
    0% {
        opacity: 0;
        top: -50%;
    }
    25% {
        top: -25%;
        opacity: .35;
    }
    50% {
        top: 0;
        opacity: .5;
    }
    75% {
        top: 25%;
        opacity: .75;
    }
    90% {
        top: 50%;
    }
    100% {
        opacity: 1;
    }
}

@keyframes stack {
    0% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}

:host {
    /* Override external value of none */
    --slot-chip-display: inline-block;

    --chip-size: clamp(2rem, 3.5vw, 3rem);
    --chip-font-size: max(.75rem, calc(var(--chip-size) / 2.5));

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    user-select: none;

    animation: show .1s ease-in-out;
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: var(--chip-size);
    aspect-ratio: 1 / 1;

    font-size: var(--chip-font-size);
    font-weight: 600;
    color: #000;
}

:host([stacked]) .chip {
    /* filter: grayscale(1); */
    animation: stack .55s linear forwards;
}

.chip-icon {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    z-index: -1;
}