*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

@keyframes show {
    0% {
        opacity: 0;
        top: -50%;
    }
    25% {
        top: -25%;
        opacity: .35;
    }
    50% {
        top: 0;
        opacity: .5;
    }
    75% {
        top: 25%;
        opacity: .75;
    }
    90% {
        top: 50%;
    }
    100% {
        opacity: 1;
    }
}

@keyframes stack {
    0% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}

:host {
    /* Override external value of none */
    --slot-chip-display: inline-block;

    --slot-chip-inline-size: clamp(2rem, 3vw, 3rem);
    --slot-chip-font-size: max(.65rem, calc(var(--slot-chip-inline-size) / 3));
    --slot-chip-font-weight: 700;
    --slot-chip-text-color: #000000;

    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-user-select: none;
    user-select: none;

    animation: show .1s ease-in-out;
}

@supports (not(translate: -50% -50%)) {

    :host {
        transform: translate(-50%, -50%);
    }

}

@supports (translate: -50% -50%) {

    :host {
        transform: none;
        translate: -50% -50%;
    }

}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: var(--slot-chip-inline-size);
    aspect-ratio: 1 / 1;

    line-height: var(--slot-chip-inline-size);
    text-align: center;

    font-size: var(--slot-chip-font-size);
    font-weight: var(--slot-chip-font-weight);
    color: var(--slot-chip-text-color);
}

:host([stacked]) .chip {
    animation: stack .55s linear forwards;
}

.chip-icon {
    inline-size: 100%;
    block-size: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}