*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

/*
    Added initial display of none to every chip component instance to prevent initial content flickering. 
    These styles are overridden in the local stylesheet of each chip component.
*/

roulette-chip {
    display: var(--chip-display, none);
}

:host {
    /* Override initial display rule from parent scope */
    --chips-display: flex;

    --host-flex-basis: calc(50% - var(--app-container-row-gap));
    --host-flex-direction: row;
    --host-justify-content: center;
    --host-align-items: center;
    --host-flex-wrap: wrap;
    --host-flex-order: 0;
    --host-flex-gap: clamp(1.5rem, 2vw, 2rem) clamp(1rem, 2vw, 1.75rem);

    flex-direction: var(--host-flex-direction);
    justify-content: var(--host-justify-content);
    align-items: var(--host-align-items);
    flex-wrap: var(--host-flex-wrap);
    gap: var(--host-flex-gap);

    flex-basis: var(--host-flex-basis);

    -webkit-user-select: none;
    user-select: none;
}