:root {
    --box-sizing-reset: border-box;
    --margin-reset: 0;
    --padding-reset: 0;

    --fullscreen-height: 100vh;

    --font-weight: 400;
    --font-size: 18px;
    --text-decoration: none;
    --color: #f5f1f0;
    --background-color: #004b24;

    --button-display: inline-block;
    --button-all: unset;
}

*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

html {
    font-family: 'Chronica Pro', sans-serif;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

body {
    min-block-size: var(--fullscreen-height);
    text-rendering: optimizeSpeed;
    vertical-align: baseline;
    line-height: 1;

    color: var(--color);
    background-color: var(--background-color);
}

h1, h2, h3, h4 {
    font-weight: var(--font-weight);
}

a {
    text-decoration: var(--text-decoration);
}

button {
    all: var(--button-all);
    display: var(--button-display);
}
