@media screen and (max-width: 800px) {

    :host(.inside-bet.zero) .slot-container {
        border-top-left-radius: 15rem;
        border-top-right-radius: 15rem;
        border-bottom-left-radius: 0;
    }

    @supports (not(rotate: z 90deg)) {

        :host(.outside-bet:is(.black, .red, .even, .odd, .range, .dozen)) .slot-container .slot-txt {
            transform: rotateZ(90deg);
        }

    }


    @supports (rotate: z 90deg) {

        :host(.outside-bet:is(.black, .red, .even, .odd, .range, .dozen)) .slot-container .slot-txt {
            transform: none;
            rotate: z 90deg;
        }

    }

    /* Control popup text animation */

    :host(.inside-bet.zero) roulette-popup {
        --top-offset-end: 0;
    }

    :host(.outside-bet.dozen) roulette-popup {
        --top-offset-end: 10%;
    }

    :host(.outside-bet:is(.black, .red, .even, .odd, .range)) roulette-popup {
        --top-offset-end: 0;
    }

}