@media screen and (max-width: 600px) {

    :host(.inside-bet) {
        --slot-prefered-font-size: 3vw;
    }

    :host(.inside-bet.zero) {
        --slot-min-font-size: 1.3rem;
        --slot-prefered-font-size: 4vw;
        --slot-max-font-size: 2rem;

        --slot-border-top-left-radius: 15rem;
        --slot-border-top-right-radius: 15rem;
        --slot-border-bottom-left-radius: 0;
    }

    :host(.outside-bet) {
        --slot-max-font-size: 1rem;
        --slot-prefered-font-size: 3vw;
    }

    :host(.outside-bet.range) {
        --slot-min-font-size: .35rem;
    }

    @supports (not(rotate: z 90deg)) {

        :host(.outside-bet:is(.black, .red, .even, .odd, .range, .dozen)) .slot-container .slot-txt {
            transform: rotateZ(90deg);
        }

    }

    @supports (rotate: z 90deg) {

        :host(.outside-bet:is(.black, .red, .even, .odd, .range, .dozen)) .slot-container .slot-txt {
            transform: none;
            rotate: z 90deg;
        }

    }

    /* Control popup text animation */

    :host(.inside-bet.zero) roulette-action-text {
        --action-text-top-offset-end: 0;
    }

    :host(.outside-bet.dozen) roulette-action-text {
        --action-text-top-offset-end: 10%;
    }

    :host(.outside-bet:is(.black, .red, .even, .odd, .range)) roulette-action-text {
        --action-text-top-offset-end: 0;
    }

}