@keyframes ascend {
    0% {
        top: 50%;
    }
    25% {
        top: 25%;
    }
    50% {
        top: 0;
    }
    100% {
        top: -25%;
    }
}

*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

:host {
    /* Override display value from parent scope */
    --roulette-slot-display: flex;

    --font-size: clamp(1rem, 1.1vw, 1.7rem);
    --font-weight: 600;

    /* Inside bets vars */
    --inside-bet-bg-color-red-contrast: 50%;
    --inside-bet-bg-color-red: hsl(0, 100%, var(--inside-bet-bg-color-red-contrast, 50%));
    --inside-bet-bg-color-black-contrast: 0%;
    --inside-bet-bg-color-black: hsl(0, 0%, var(--inside-bet-bg-color-black-contrast, 0%));
    --inside-bet-bg-color-zero-contrast: 25%;
    --inside-bet-bg-color-zero: hsl(120, 100%, var(--inside-bet-bg-color-zero-contrast, 25%));
    --inside-bet-txt-color-contrast: 100%;
    --inside-bet-txt-color: hsl(0, 0%, var(--inside-bet-txt-color-contrast, 100%));

    /* Outside bets vars */
    --outside-bet-bg-color-contrast: 95%;
    --outside-bet-bg-color: hsl(12, 20%, var(--outside-bet-bg-color-contrast, 95%));
    --outside-bet-txt-color-contrast: 0%;
    --outside-bet-txt-color: hsl(0, 0%, var(--outside-bet-txt-color-contrast, 0%));

    /* Slot chips */
    --slot-chip-display: none;

    position: relative;

    justify-content: center;
    align-items: center;

    font-size: var(--font-size);
    font-weight: var(--font-weight);

    border: 1px solid #000;
}

:host-context([theme="dark"]) {
    --inside-bet-txt-color-contrast: 95%;
    --inside-bet-bg-color-red-contrast: 40%;
    --inside-bet-bg-color-green-contrast: 15%;

    --outside-bet-bg-color-contrast: 85%;
}

:host(.inside-bet) {
    color: var(--inside-bet-txt-color);
}

:host(.inside-bet.zero) {
    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;

    background-color: var(--inside-bet-bg-color-zero);
    font-size: clamp(1.25rem, 1.5vw, 2rem);
}

:host(.inside-bet.red) {
    background-color: var(--inside-bet-bg-color-red);
}

:host(.inside-bet.black) {
    background-color: var(--inside-bet-bg-color-black);
}

:host(.outside-bet) {
    color: var(--outside-bet-txt-color);
    background-color: var(--outside-bet-bg-color);

    font-size: clamp(1rem, 1vw, 1.35rem);
    font-weight: 500;
}

:host(.outside-bet.dozen) {
    font-size: clamp(.95rem, 1.5vw, 1.2rem);
}

:host(.outside-bet.column) {
    font-size: clamp(.85rem, 1.5vw, 1.15rem);
}

:host(.outside-bet.range) {
    font-size: clamp(.85rem, 1.5vw, 1.15rem);
}

:host(.outside-bet:is(.black, .red, .even, .odd)) {
    font-size: clamp(.85rem, 1.5vw, 1.15rem);
}

/* Notification element containing information about created and appended slot chip element */

.notification {
    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 5;

    animation: ascend 1s cubic-bezier(.29,.06,.21,1);
    animation-fill-mode: forwards;
}

.notification-text {
    font-size: .85rem;
    font-weight: 700;
    color: #008000;

    text-shadow: 
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}

.notification-text.chip-added {
    color: #008000;
}

.notification-text.chip-removed {
    color: red;
}

/*
    Added initial display of none to every roulette-slot-chip instance, but in the parent slot.component styles scope to prevent 
    the effect of initial content flickering when the components are rendered into the DOM and only system styles are applied. 
    In the local stylesheet of the roulette-slot-chip instance this property is being overriden.
 */
roulette-slot-chip {
    display: var(--slot-chip-display, none);
}