*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

/*
    Added initial display of none to every child component instance, to prevent initial content flickering 
    when the components are rendered into the DOM and only system styles are applied. 
    In the local stylesheet of every concerned child component instance this property is being overriden.
*/

roulette-slot-chip {
    display: var(--slot-chip-display, none);
}

:host {
    /* Override display value from parent scope */
    --slot-display: block;

    --slot-min-font-size: .65rem;
    --slot-max-font-size: 1.3rem;
    --slot-prefered-font-size: 2vw;

    --slot-font-size: clamp(
        var(--slot-min-font-size), 
        var(--slot-prefered-font-size), 
        var(--slot-max-font-size)
    );

    --slot-font-family: 'Chronica Pro', sans-serif;
    --slot-font-style: normal;

    --slot-border-top-left-radius: 0;
    --slot-border-top-right-radius: 0;
    --slot-border-bottom-left-radius: 0;
    --slot-border-bottom-right-radius: 0;

    --slot-border-radius: 
        var(--slot-border-top-left-radius) 
        var(--slot-border-top-right-radius)  
        var(--slot-border-bottom-right-radius) 
        var(--slot-border-bottom-left-radius);

    /* Inside bets vars */
    --inside-bet-bg-color-red: hsl(0deg 100% 50%);
    --inside-bet-bg-color-black: hsl(0deg 0% 0%);
    --inside-bet-bg-color-zero: hsl(120deg 100% 25%);
    --inside-bet-txt-color: hsl(0deg 0% 100%);

    /* Outside bets vars */
    --outside-bet-bg-color: hsl(0deg 20% 100% / 0);
    --outside-bet-txt-color: hsl(0deg 0% 100%);
}

:host(.inside-bet) {
    --slot-text-color: var(--inside-bet-txt-color);
    --slot-font-weight: 400;
}

:host(.inside-bet.zero) {
    --slot-min-font-size: .85rem;
    --slot-prefered-font-size: 3vw;
    --slot-max-font-size: 1.5rem;

    --slot-background-color: var(--inside-bet-bg-color-zero);

    --slot-border-top-left-radius: 15rem;
    --slot-border-bottom-left-radius: 15rem;
}

:host(.inside-bet.red) {
    --slot-background-color: var(--inside-bet-bg-color-red);
}

:host(.inside-bet.black) {
    --slot-background-color: var(--inside-bet-bg-color-black);
}

:host(.outside-bet) {
    --slot-min-font-size: .5rem;
    --slot-max-font-size: 1.3rem;
    --slot-prefered-font-size: 2vw;

    --slot-font-weight: 500;

    --slot-text-color: var(--outside-bet-txt-color);
    --slot-background-color: var(--outside-bet-bg-color);
}

.slot-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: 100%;
    block-size: 100%;

    font-size: var(--slot-font-size);
    font-weight: var(--slot-font-weight);
    font-style: var(--slot-font-style);
    color: var(--slot-text-color);
    background-color: var(--slot-background-color);
    border-radius: var(--slot-border-radius);

    -webkit-user-select: none;
    user-select: none;

    opacity: 1;
    border: 1px solid #000;
    transition: all 0.2s ease-in-out;
}

/* Control popup text animation */

roulette-action-text {
    --action-text-top-offset-start: 50%;
    --action-text-top-offset-end: -25%;
    --action-text-font-size: clamp(.85rem, 1.5vw, 1rem);
    --action-text-animation-duration: .85s;
}

:host(.inside-bet.zero) roulette-action-text {
    --action-text-top-offset-end: 10%;
}