*,
*::after,
*::before {
    box-sizing: var(--box-sizing-reset);
    margin: var(--margin-reset);
    padding: var(--padding-reset);
}

:host {
    --inline-size: 35px;
    --font-weight: 700;
    --text-align: center;
    --color: #222;

    display: inline-block;
    position: absolute;

    inline-size: var(--inline-size, 35px);
    aspect-ratio: 1 / 1;

    font-size: calc(var(--inline-size) / 2.5);
    font-weight: var(--font-weight);
    line-height: var(--inline-size);
    text-align: var(--text-align);
    color: var(--color);

    background-repeat: no-repeat;
    background-size: contain;
}

:host(:is(
    [hidden], 
    :not([data-id]), 
    :not([data-value])
)) {
    display: none;
}

:host([data-id="1"]) {
    background-image: url("/assets/images/chip-background-1.png");
}

:host([data-id="2"]) {
    background-image: url("/assets/images/chip-background-2.png");
}

:host([data-id="3"]) {
    background-image: url("/assets/images/chip-background-3.png");
}

:host::before {
    content: attr(data-value);
}