@keyframes ascend {
    0% {
        top: var(--action-text-top-offset-start, 50%);
    }
    90% {
        opacity: .75;
    }
    100% { 
        top: var(--action-text-top-offset-end, -25%);
        opacity: 0;
    }
}

:host {
    /* Override parent scope set display value */
    --action-text-display: inline-block;

    position: absolute;
    top: var(--action-text-top-offset-start, 50%);
    left: var(--action-text-left-offset, 50%);
    z-index: 5;

    -webkit-user-select: none;
    user-select: none;

    animation: ascend var(--action-text-animation-duration, 1s) cubic-bezier(.29,.06,.21,1);
    animation-fill-mode: forwards;
}

@supports (not(translate: -50% -50%)) {

    :host {
        transform: translate(-50%, -50%);
    }

}

@supports (translate: -50% -50%) {

    :host {
        transform: none;
        translate: -50% -50%;
    }

}

.text-content {
    font-size: var(--action-text-font-size, clamp(.85rem, 1.5vw, 1rem));
    font-weight: 700;

    text-shadow: 
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}

.text-content.chip-added {
    color: #008000;
}

.text-content.chip-removed {
    color: red;
}